<div class="container">
    <div class="form-group">
      <label for="usr">Search by UserName:</label>
      <input type="text" [(ngModel)]="name" class="form-control" id="usr" name="username">
      
    </div>
    
    <div class="form-group">
      <label for="pwd">Search by Repo:</label>
      <input type="text" [(ngModel)]="repro" class="form-control" id="usr" name="username">
    </div>
    <button type="submit" class="btn btn-primary" (click)="getRepo()">Search </button>
    <button   type="submit" class="btn btn-danger" ><input class="btn btn-secondary"type="checkbox" (change)="FavouriteOnly(checkboxFav)" [(ngModel)]="checkboxFav" id="showFirst"/>Picked Repos</button>
      <p><kbd>Github Repos</kbd></p>
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>RepoName</th>
          <th>Username</th>
          <th>Watchers</th>
          <th>Open_issues</th>
          <th>forks</th>
          <th>pick</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let repo of tb">
          <td>{{repo.name}}</td> 
          <td>{{repo.full_name}}</td>
          <td>{{repo.watchers}}</td>
          <td>{{repo.open_issues}}</td>
          <td>{{repo.forks}}</td>
          <td>
            <div  *ngIf="!checkIfFav(repo.id)">
              <button (click)="addFav(repo, repo.id)" class="btn btn-primary">pick</button>
            </div>  
            <div *ngIf="checkIfFav(repo.id)">
              <button  (click)="removeFav(repo, repo.id)" class="btn btn-danger">remove</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>